<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <!-- 为sql映射文件中的输入/输出参数设置类型别名 -->
    <!--指定entity扫描包类 让mybatis自定扫描到自定义的entity。-->
    <typeAliases>
        <package name="com.via.domain"/>
    </typeAliases>
</configuration>