<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.via.dao.AdminMapper">

    <!--验证登录信息是否正确。根据邮箱和密码来验证-->
    <select id="login" parameterType="loginForm" resultType="admin">
        select * from tb_admin
        where email=#{email} and password = #{password}
    </select>

    <select id="selectList" parameterType="admin" resultType="admin">
        select id, name, gender, email, telephone, introduction, portrait_path from tb_admin
        <where>
            <if test="name!=null and name!=''">
                AND name LIKE concat(concat('%', #{name}), '%')
            </if>
        </where>
    </select>

    <select id="findByEmail" parameterType="admin" resultType="admin">
        select * from tb_admin where email = #{email}
    </select>

    <insert id="insert" parameterType="admin">
        insert into tb_admin(id, name, gender, password, email, telephone, introduction, portrait_path)
        values(#{id}, #{name}, #{gender}, #{password}, #{email}, #{telephone},#{introduction}, #{portrait_path})
    </insert>

    <update id="update" parameterType="admin">
        UPDATE tb_admin
        <set>
            <if test="name!=null and name!=''">name=#{name},</if>
            <if test="gender!=null and gender!=''">gender=#{gender},</if>

            <if test="email!=null and email!=''">email=#{email},</if>
            <if test="password!=null and password!=''">password=#{password},</if>
            <if test="introduction!=null and introduction!=''">introduction=#{introduction},</if>
            <if test="portrait_path!=null and portrait_path!=''">portrait_path=#{portrait_path},</if>
        </set>
        WHERE id = #{id}

    </update>

    <delete id="deleteById">
        delete from tb_admin where id in
        <foreach collection="array" item="ids" open="(" separator="," close=")">
            #{ids}
        </foreach>
    </delete>
</mapper>